flask==3.0.0
flask-socketio==5.3.6
flask-limiter>=3.5.0
meshtastic>=2.7,<2.8
pyserial==3.5
pynmea2>=1.18.0,<2.0
gevent>=23.9.1
gevent-websocket==0.10.1
qrcode[pil]>=7.4.2
numpy>=1.26,<3
psutil>=5.9,<8
PyPubSub>=4.0.3,<5
